---
import Layout from '../layouts/Layout.astro';

const today = new Date();

---

<Layout
	title="Políticas de Privacidad"
	description="Políticas de Privacidad"
>
  <main class="prose dark:prose-invert
    prose-strong:text-slate-700
    dark:prose-strong:text-slate-200
    prose-h3:text-slate-700 
    dark:prose-h3:text-slate-200
    prose-h2:text-slate-700 
    dark:prose-h2:text-slate-200
    prose-h4:text-slate-700 
    dark:prose-h4:text-slate-200
    ">
    <h1>Términos y Condiciones</h1>

    <h2>Introducción</h2>
    <p>Bienvenido a <strong>Mundo Ingeniería</strong>. Estos términos y condiciones describen las reglas y regulaciones para el uso del sitio web <a href="https://www.mundoingenieria.org/">Mundo Ingeniería</a>.</p>

    <h2>Aceptación de los Términos</h2>
    <p>Al acceder a este sitio web, asumimos que aceptas estos términos y condiciones en su totalidad. No continúes utilizando Mundo Ingeniería si no aceptas todos los términos y servicios establecidos en esta página.</p>

    <h2>Terminología</h2>
    <p>La siguiente terminología se aplica a estos Términos y Condiciones, Declaración de Privacidad y Aviso Legal, y cualquiera o todos los Acuerdos: "Cliente", "Tú" y "Tu" se refiere a ti, la persona que accede a este sitio web y acepta los términos y condiciones de la Empresa. "La Empresa", "Nosotros", "Nuestro" y "Nos", se refiere a nuestra Empresa. "Parte", "Partes" o "Nosotros", se refiere tanto al Cliente como a nosotros mismos, o al Cliente o a nosotros mismos.</p>

    <h2>Cookies</h2>
    <p>Usamos cookies. Al utilizar el sitio web de Mundo Ingeniería, consientes el uso de cookies de acuerdo con la política de privacidad de Mundo Ingeniería.</p>

    <h2>Licencia</h2>
    <p>A menos que se indique lo contrario, Mundo Ingeniería y/o sus licenciantes poseen los derechos de propiedad intelectual de todo el material en Mundo Ingeniería. Todos los derechos de propiedad intelectual están reservados. Puedes ver y/o imprimir páginas de <a href="https://www.mundoingenieria.org/">https://www.mundoingenieria.org/</a> para tu uso personal sujeto a las restricciones establecidas en estos términos y condiciones.</p>

    <h2>Uso Aceptable</h2>
    <p>No debes:</p>
    <ul>
        <li>Publicar material del sitio web en ningún medio de comunicación.</li>
        <li>Vender, alquilar o sublicenciar material del sitio web.</li>
        <li>Reproducir, duplicar o copiar material del sitio web.</li>
        <li>Redistribuir contenido del sitio web, a menos que el contenido esté específicamente disponible para la redistribución.</li>
    </ul>

    <!-- <h2>Comentarios</h2>
    <p>Algunas partes de este sitio web ofrecen la oportunidad para que los usuarios publiquen e intercambien opiniones, información, material y datos ('Comentarios') en áreas del sitio web. Mundo Ingeniería no filtra, edita, publica ni revisa los Comentarios antes de su aparición en el sitio web y los Comentarios no reflejan los puntos de vista u opiniones de Mundo Ingeniería, sus agentes o afiliados.</p> -->

    <h2>Hipervínculos a Nuestro Contenido</h2>
    <p>Las siguientes organizaciones pueden enlazar a nuestro sitio web sin aprobación previa por escrito:</p>
    <ul>
        <li>Agencias gubernamentales;</li>
        <li>Motores de búsqueda;</li>
        <li>Organizaciones de noticias;</li>
        <li>Distribuidores de directorios en línea cuando nos enumeran en el directorio pueden enlazar a nuestro sitio web en la misma manera que hacen hipervínculos a los sitios web de otras empresas listadas; y</li>
        <li>Negocios acreditados en todo el sistema, excepto organizaciones sin fines de lucro, centros comerciales de caridad y grupos de recaudación de fondos de caridad que no pueden hacer hipervínculos a nuestro sitio web.</li>
    </ul>

    <h2>Responsabilidad del Contenido</h2>
    <p>No tendremos ninguna responsabilidad por el contenido que aparezca en tu sitio web. Aceptas indemnizarnos y defendernos contra todas las reclamaciones que surjan de o se basen en tu sitio web. Ningún enlace (s) puede aparecer en cualquier página de tu sitio web o dentro de cualquier contexto que contenga contenido o materiales que puedan interpretarse como difamatorios, obscenos o criminales, o que infrinjan, de otra manera violen, o apoyen la infracción u otra violación de, cualquier derecho de terceros.</p>

    <h2>Reserva de Derechos</h2>
    <p>Nos reservamos el derecho en cualquier momento y a su sola discreción de solicitar que elimines todos los enlaces o cualquier enlace particular a nuestro sitio web. Aceptas eliminar de inmediato todos los enlaces a nuestro sitio web tras dicha solicitud. También nos reservamos el derecho de estos términos y condiciones y su política de vinculación en cualquier momento. Al continuar vinculando a nuestro sitio web, aceptas estar obligado y seguir estos términos y condiciones de vinculación.</p>

    <h2>Eliminación de Enlaces de Nuestro Sitio Web</h2>
    <p>Si encuentras algún enlace en nuestro sitio web o cualquier sitio web vinculado objetable por cualquier razón, puedes contactarnos sobre esto. Consideraremos las solicitudes para eliminar enlaces, pero no tendremos ninguna obligación de hacerlo o de responder directamente a ti.</p>

    <!-- <h2>Renuncia de Responsabilidad</h2>
    <p>En la medida máxima permitida por la ley aplicable, excluimos todas las representaciones, garantías y condiciones relacionadas con nuestro sitio web y el uso de este sitio web (incluyendo, sin limitación, cualquier garantía implícita por ley en cuanto a calidad satisfactoria, idoneidad para el propósito y/o el uso de cuidado y habilidad razonables). Nada en este descargo de responsabilidad:</p>
    <ul>
        <li>Limitará o excluirá nuestra o tu responsabilidad por muerte o lesiones personales resultantes de negligencia;</li>
        <li>Limitará o excluirá nuestra o tu responsabilidad por fraude o tergiversación fraudulenta;</li>
        <li>Limitará cualquiera de nuestras o tus responsabilidades de cualquier manera que no esté permitida por la ley aplicable; o</li>
        <li>Excluye cualquiera de nuestras o tus responsabilidades que no pueden estar excluidas bajo la ley aplicable.</li>
    </ul> -->

    <h2>Variación de Términos</h2>
    <p>Mundo Ingeniería está autorizado a revisar estos términos en cualquier momento que lo considere oportuno, y al utilizar este sitio web se espera que revise estos términos de manera regular.</p>

    <h2>Cesión</h2>
    <p>Mundo Ingeniería está permitido a ceder, transferir y subcontratar sus derechos y/o obligaciones bajo estos términos sin ninguna notificación. Sin embargo, no se te permitirá ceder, transferir o subcontratar ninguno de tus derechos y/o obligaciones bajo estos términos.</p>

    <h2>Acuerdo Completo</h2>
    <p>Estos términos constituyen el acuerdo completo entre Mundo Ingeniería y tú en relación con tu uso de este sitio web, y reemplazan todos los acuerdos y entendimientos previos.</p>

    <!-- <h2>Ley Aplicable y Jurisdicción</h2>
    <p>Estos términos se regirán e interpretarán de acuerdo con las leyes del estado peruano, y te sometes a la jurisdicción no exclusiva de los tribunales estatales y federales ubicados en Perú para la resolución de cualquier disputa.</p> -->

    <div>
        <p>&copy; {today.getFullYear()} Mundo Ingeniería. Todos los derechos reservados.</p>
    </div>
  </main>
    
</Layout>

<style>
	.prose {
	}
	main {
		max-width: 900px;

	}

</style>