---
import HeaderLink from './HeaderLink.astro';
import { Image } from 'astro:assets';
import Logo from '../assets/logo.png'
import Theme from '../components/react/theme.jsx'
import { Icon } from 'astro-icon/components'

---

<header  class="flex justify-center items-center sticky top-0 border-b border-b-slate-900/5  dark:border-b-slate-50/5 z-10" id="header-nav"> 
	<nav class="flex justify-around lg:justify-between items-center w-[100%] lg:w-[1100px] py-4  ">
    <a href="/">
  		<Image src={Logo} alt="Mundo Ingenieria" class=' h-14 md:h-[80px] lg:h-[80px] w-auto' loading='eager' />
    </a>
		<div class="hidden sm:flex">
			<HeaderLink href="/" >Inicio</HeaderLink>
			<HeaderLink href="/blog" >Blog</HeaderLink>
			<HeaderLink href="/categories" >Categorías</HeaderLink>
			<HeaderLink href="/news" >Noticias</HeaderLink>
			<HeaderLink href="/about" >Nosotros</HeaderLink>
		</div>
		<div class="flex gap-4 justify-center items-center">
			<a href="/search" class="p-0">
				<Icon name="fa6-solid:magnifying-glass"  class="text-primary-600 text-2xl hover:fill-primary-700" />
			</a>
			<Theme client:load />
      <div  class="cursor-pointer" id='bars'>
        <Icon name="fa6-solid:bars" class='sm:hidden text-primary-600 hover:fill-primary-700 text-2xl ease-in duration-200 cursor-pointer' />

      </div>
			<Icon name="fa6-solid:xmark" class='sm:hidden text-primary-500 text-3xl hidden ease-in duration-200' id='xmark'/>

		</div>
	</nav>
</header>
<div class="fixed bg-white dark:bg-[#080E11] h-[100vh] w-0 overflow-hidden z-40 ease-in duration-200" data-header-status='closed' id="menuMovil"> 
	<div class=" w-full">
		<div class="flex flex-col items-center text-slate-900 dark:text-white  font-semibold lg:flex w-full py-4">
			<a class="p-4 hover:bg-primary-400/[.08] w-full" href="/" data-astro-reload>Inicio</a>
      <a class="p-4 hover:bg-primary-400/[.08] w-full" href="/blog"data-astro-reload >Blog</a>
      <a class="p-4 hover:bg-primary-400/[.08] w-full" href="/categories"data-astro-reload >Categorías</a>
      <a class="p-4 hover:bg-primary-400/[.08] w-full" href="/news"data-astro-reload >Noticias</a>
      <a class="p-4 hover:bg-primary-400/[.08] w-full" href="/about"data-astro-reload >Nosotros</a>

		</div>
	</div>
</div>

<script  type="module">
  
	document.addEventListener('DOMContentLoaded', function() {
      const initializeMenu = function() {
        const bars = document.getElementById('bars');
        const xmark = document.getElementById('xmark');
        const menuMovil = document.getElementById('menuMovil');

        if (bars && xmark && menuMovil) {
          bars.addEventListener('click', () => {
            bars.classList.add('hidden');
            bars.classList.remove('block');
            xmark.classList.add('block');
            xmark.classList.remove('hidden');
            menuMovil.classList.add('w-full');
            menuMovil.classList.remove('w-0');
          });

          xmark.addEventListener('click', () => {
            bars.classList.remove('hidden');
            bars.classList.add('block');
            xmark.classList.add('hidden');
            xmark.classList.remove('block');
            menuMovil.classList.remove('w-full');
            menuMovil.classList.add('w-0');
          });
        } else {
          console.error('Element(s) not found');
        }
      };

      // Ejecutar al cargar el DOM
      initializeMenu();

      // Re-ejecutar después de cada transición de vista (Astro specific)
      document.addEventListener('astro:afterload', initializeMenu);
    });

</script>
<style>


	#header-nav {
    animation: headerScroll linear both;
    animation-timeline: scroll();
    background: var(--bg-reverse);

    animation-range: 0 500px;
  }
	@keyframes headerScroll {
    to {
      box-shadow: 0px 6px 15px 0px rgba(100, 116, 139, 0.12);
      /* backdrop-filter: blur(10px); */
    }
  }

</style>
