---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';


interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;

---
<html lang="es">
	<head>
		<BaseHead title={title} description={description} />
		<style is:global>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0 auto;
			}
			.hero-image {
				width: 100%;
			}
			
			.hero-image .img-content  {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
			}
			.prose {
				width: 800px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
			}
			.last-updated-on {
				font-style: italic;
			}

			.container {
				width: 800px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
			}

			@media only screen and (max-width: 768px) {
				main {
					width: 100%;
					max-width: 100%;
					margin: 0 auto;
					padding: 0;
				}
				.prose :where(ul > li):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
					padding: 0;
				}

				.prose :where(ul):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
					padding-left: 1em;
				}
			}

			@media (width <= 30em) {
				/* … */
			}
			
		</style>
	</head>

	<body class="dark:bg-[#080E11] bg-slate-50">
		<Header />
		<slot/>
		<Footer />
	</body>

</html>

<style is:global>
	:root {
		--bg-reverse: #fff; 
    --swiper-theme-color: theme('colors.primary.500') !important;

	}

	.dark {
		--bg-reverse:#080e11; 
	}

</style>