---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Acerca de nosotros"
	description="Bienvenidos a Mundo ingeniería,  el rincón digital donde la pasión por el mundo de la ingeniería se encuentra con el conocimiento y la innovación"
	pubDate={new Date('January 13 2024')}
	heroImage="/images/blog-about.jpg"
	category='acerca de nosotros'
>
	<p>
		¡Bienvenidos a nuestro blog, donde encontrarás información dinámica y puntualizada sobre ingeniería!
	</p>
	<p>En este espacio, nos dedicamos a mantenerte al día con las últimas noticias, tendencias y desarrollos en el apasionante mundo de la ingeniería. Desde aspectos específicos de maquinaria pesada y mecánica automotriz hasta otros campos de la ingeniería, nuestro objetivo es brindarte contenido relevante y actualizado.
	</p>
	<p>Si buscas información más detallada sobre maquinaria pesada y mecánica automotriz, te invitamos a visitar <a target="_blank" href="https://www.maquinariaspesadas.org/">MaquinariasPesadas.org</a> y <a target="_blank" href="https://www.mecanicoautomotriz.org/">MecanicoAutomotriz.org</a> respectivamente. En estos portales, encontrarás recursos especializados y descargas gratuitas para profundizar en estos temas.
	</p>
	<p>Aquí en nuestro blog, estaremos constantemente actualizando los puntos más relevantes para ti. Integraremos una variedad de aspectos relacionados con el fascinante mundo de la ingeniería, para ofrecerte una visión completa y actualizada.
	</p>
	<p>Únete a nuestra comunidad de apasionados por la ingeniería y explora un mundo de conocimiento y oportunidades en nuestro blog.</p>
</Layout>
