---
import Layout from '../layouts/Layout.astro';
import Image from 'astro/components/Image.astro';

---

<Layout title="Mundo ingenieria" description="Cada artículo, cada historia, y cada consejo están diseñados para empoderarte, inspirarte, y conectarte más profundamente con esta industria vital">
	<main>
		<div class=" h-[520px] w-[100%] bg-cover bg-center rounded-xl mb-10">
      <Image src={'/inicio.webp'} width={1280} alt={'Mundo ingeniería'} height={720} class="w-full h-full object-cover	"  loading="lazy" />
    </div>
		<h1 class="dark:text-slate-50 text-4xl md:text-6xl  m-auto text-center font-semibold text-slate-800 mb-10">¡Bienvenidos a "Mundo ingeniería"!</h1>
		<p class="dark:text-slate-300 text-slate-700">
			Este es tu destino definitivo para sumergirte en el fascinante mundo de la ingeniería. Aquí, los entusiastas, profesionales, y curiosos por igual, pueden explorar las últimas noticias, innovaciones, y conocimientos sobre maquinarias y tecnológias. 
		</p>
		<p class="dark:text-slate-300 text-slate-700">
			Cada artículo, cada historia, y cada consejo están diseñados para empoderarte, inspirarte, y conectarte más profundamente con la ingeniería. Sumérgete en nuestras detalladas guías, disfruta de nuestros análisis en profundidad, y únete a nuestra comunidad apasionada. ¡Empecemos juntos este viaje de potencia, precisión y grandeza!
		</p>
		<h3 class="dark:text-slate-50 mt-10 font-medium mb-6">Nuestros Blogs</h3>
		<p class=" text-slate-700 dark:text-slate-300">Explora las últimas tendencias, innovaciones, y mejores prácticas en el manejo de mundo ingeniería. Estos artículos son fundamentales para aquellos que buscan profundizar su comprensión sobre los desafíos actuales y futuros de la industria, ofreciendo perspectivas sobre cómo mejorar la eficiencia, seguridad y sostenibilidad en el uso de estas impresionantes máquinas.</p>
		<a href="/blog" class=" dark:text-primary-500 text-primary-500 hover:text-primary-800" >Comenzar</a>
		<h3 class="dark:text-slate-50 mt-10 font-medium mb-6">El Mundo Detrás de la Maquinaria Pesada</h3>
		<p  class="dark:text-slate-300 text-slate-700">	<a class="text-primary-500 hover:text-primary-800" href="https://www.maquinariaspesadas.org/">MaquinariasPesadas.org </a> es un sitio web esencial para quienes están involucrados o interesados en la industria de maquinaria pesada. Ofrece una amplia gama de recursos, como cursos, manuales, catálogos y videos, centrados en diferentes tipos de maquinarias, incluyendo pero no limitado a excavadoras, bulldozers y grúas. La plataforma se destaca por promover el aprendizaje continuo y la actualización profesional, proporcionando contenidos que cubren desde operaciones y mantenimiento hasta seguridad y avances tecnológicos.</p>

		
	</main>
</Layout>

<style>
	main {
		width: 820px;
	}

</style>