---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<a href={href} class=" text-sm md:text-xl dark:text-white dark:hover:text-primary-500 hover:text-primary-500"  class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		text-decoration: none;
		padding: 0.2em 0.8rem;
		border-bottom: 3px solid transparent;
	}
	a.active {
		text-decoration: none;
		font-weight: bolder;
		color: theme('colors.primary.600');
		border-bottom-color: theme('colors.primary.600');
	}

	.darknav a.active {
		text-decoration: none;
		color: theme('colors.primary.600');
		border-bottom-color: theme('colors.primary.600');
	}

	
</style>
