---
import HeaderLink from './HeaderLink.astro';
import { Image } from 'astro:assets';
import Logo from '../assets/logo.png'
import Theme from '../components/react/theme.jsx'
import { Icon } from 'astro-icon/components'

---

<header  class="flex justify-center items-center sticky top-0 border-b border-b-slate-900/5  dark:border-b-slate-50/5" id="header-nav"> 
	<nav class="flex justify-around lg:justify-between items-center w-[100%] lg:w-[1100px] py-4  ">
		<Image src={Logo} alt="Mundo Ingenieria" class=' h-14 md:h-[80px] lg:h-[80px] w-auto' loading='eager' />
		<div class="internal-links">
			<HeaderLink href="/" >Inicio</HeaderLink>
			<HeaderLink href="/blog" >Blog</HeaderLink>
			<HeaderLink href="/about" >Nosotros</HeaderLink>
		</div>
		<div class="flex gap-4 justify-center items-center">
			<a href="/search">
				<Icon name="fa6-solid:magnifying-glass"  class="text-primary-600 text-2xl  hover:fill-primary-700" />
			</a>
			<Theme client:load />
		</div>


	</nav>
</header>

<script>

</script>
<style>

	nav a {
		padding: 0.2em 0.8rem;
		border-bottom: 3px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		color: theme('colors.primary.600');
		border-bottom-color: theme('colors.primary.600');
	}
	.darknav a.active {
		text-decoration: none;
		color: theme('colors.primary.600');
		border-bottom-color: theme('colors.primary.600');
	}

	.dark\:underline:where([data-mode="dark"], [data-mode="dark"] *){
		text-decoration-line: underline
	}

	#header-nav {
    animation: headerScroll linear both;
    animation-timeline: scroll();
    animation-range: 0 500px;
  }
	@keyframes headerScroll {
    to {
      box-shadow: 0px 6px 15px 0px rgba(100, 116, 139, 0.12);
      background: rgba(var(--bg-reverse), 0.7);
      backdrop-filter: blur(10px);
    }
  }

</style>
